{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: simple_gym
 * Generated on: Tue, 08 May 18 00:35:32 +0200
 */
#}
{{ attach_library('simple_gym/simple_gym.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
